.about-us{
  @include clearfix();
  float: none;
  h2{
    margin: 12px 0 15px;
    font-size: 22px;
    @include AvenirNextLTPro();
    font-weight: bold;
    color:#10726e;
    text-transform: uppercase;
    &:first-child{
      margin-top: 0;
    }
  }

  ol{
    font-size: 40px;
    color:#13887d;
    @include ProximaNovaAltBold();
    padding-left: 40px;
    li{
      margin-bottom: 0;
      padding-bottom: 5px;
    }
    p{
      @include AvenirNextLTPro();
      color:#a9a8a8;
      font-size: 14px;
    }
  }

  #CDSWIDWRL{
    width: 100%;
    max-width: 100%;
  }
}

.what-we-do{
  margin: 20px 0 10px;
  h2{
    margin: 0 0 15px;
    font-size: 22px;
    @include AvenirNextLTPro();
    font-weight: bold;
    color:#10726e;
    text-transform: uppercase;
  }
}