.woocommerce-checkout.woocommerce-page{
  .dt-sc-hr-invisible:empty, .dt-sc-hr-invisible-small:empty{
    display: none;
  }
  .checkout-page{
    h2, #order_review_heading{
      font-size: 22px;
      color:#10726e;
      text-transform: uppercase;
      @include ProximaNovaAltBold();
      text-align: center;
      margin: 0 0 30px;
    }

    .woocommerce{
      .woocommerce-info{
        font-family: AvenirNextLTPro, Arial, sans-serif !important;
        @include box-shadow(none !important);
        background: transparent !important;
        border:none;
        padding: 0 !important;
        margin: 0 0 10px 0 !important;
        color:#333 !important;
        text-shadow: none !important;
        font-size: 16px !important;
        &:after, &:before{
          display: none;
        }
        a{
          color:#10726e;
        }
      }

      /* form checkout */
      .checkout.woocommerce-checkout{
        .col2-set{
          background: #13887d;
          color:#fff;
          @include clearfix();
          padding: 16px 18px 21px;
          position: relative;
          margin-bottom: 25px;
          .form-row{
            .input-text, .select2-container, select{
              color:#fff !important;
              border:none !important;
              @include box-shadow(none !important);
              margin: 0;
              padding: 0 5px 0 0 !important;
              text-indent: 16px;
              @include border-radius(5px !important);
              @include placeholder(#fff !important);
              font-size: 14px;
              @include AvenirNextLTProDemi();
              font-weight: 700;
              height: 36px;
              background: #10726e;
            }
            select{
              option{
                color: #333;
              }
            }
            textarea.input-text{
              height:90px;
              overflow-x: hidden;
              overflow-y: auto;
              @include box-sizing();
              padding-top: 5px !important;
            }
            .select2-container{
              padding:0 !important;
              .select2-choice{
                background-color: transparent;
                border:none;
                padding: 0 36px 0 0;
                line-height: 36px;
                color:#fff;
                background: url('../images/select-2.png') no-repeat top right;
                .select2-arrow{
                  display: none;
                }
              }
            }
            .selection-box{
              height:36px;
              &:after{
                background: url("../images/select-2.png") no-repeat top center/100% 100%;
                width: 36px;
                height:36px;
                @include border-radius(0);
                top:0;
              }
            }
          }

          label{
            color:#fff;
            @include AvenirNextLTProDemi();
            font-weight: 700;
          }
          .col-1{
            width: 100%;
            @include clearfix();
            h3{
              text-transform: uppercase;
              color:#add;
              font-size: 16px;
              @include ProximaNovaAltBold();
              margin:0 10px 5px 10px;
            }
            .form-row{
              @include box-sizing();
              padding: 0 10px;
              float: left;
              width: 25%;
              &.create-account{
                clear: left;
                position: absolute;
                left: 18px;
                bottom: 14px;
              }
              &.notes{
                width: 75%;
              }
              &.form-row-first{
                clear: left;
              }
            }
            .clear{
              display: none;
            }
          }
          .col-2{
            width: 100%;
            label{
              display: none;
            }
            h3{
              display: none;
            }
            .form-row{
              float: right;
              width: 75%;
              @include box-sizing();
              padding: 0 10px;
              margin-top: -42px;
            }
          }
        }
      }
      /* e: form checkout */

      /* your order */
      .woocommerce-checkout-review-order{
        table.woocommerce-checkout-review-order-table{
          border:none;
          .space-td{
            height:10px;
            overflow: hidden;
            padding: 0 !important;
            border:none;
            background: transparent !important;
            @include ProximaNovaAltBold();
          }
          .mobile-title{
            margin: 0;
            font-size: 14px;
            @include ProximaNovaAltBold();
            color: #fff;
            text-transform: uppercase;
            text-align: left;
            display: none;
          }
          thead{
            th{
              background: transparent;
              color:#13887d;
              font-size: 16px;
              text-align: left;
              text-transform: uppercase;
              padding: 0 0 20px;
              border:none;
              width: 25%;
              @include box-sizing();
              &:first-child{
                width: 40%;
                padding-left: 5px;
              }
              &.product-date, &.product-total{
                padding-left: 25px;
              }
              &:nth-child(2){
                width: 20%;
              }
            }
          }
          tbody{
            tr.cart_item{
              td{
                text-align: left;
                font-weight: 700;
                text-transform: uppercase;
                background: #13887d;
                color:#fff;
                border: none;
                &:first-child{
                  @include border-radius(5px 0 0 5px);
                  @include AvenirNextLTProDemi();
                  font-weight: 700;
                  position: relative;
                  padding-left: 78px;
                  height:62px;
                  @include box-sizing();
                  img{
                    max-width: 50px;
                    max-height:50px;
//                    margin-right: 16px;
//                    vertical-align: middle;
                    position: absolute;
                    top:50%;
                    left: 12px;
                    @include transform(translateY(-50%));
                  }
                }
                &:last-child{
                  @include border-radius(0 5px 5px 0);
                }
                &.product-traveller{
                  .quantity{
                    input{
                      border:none;
                      background: transparent;
                      color:#fff;
                      @include AvenirNextLTProDemi();
                      font-weight: 700;
                      @include placeholder(#fff);
                      @include box-shadow(none);
                    }
                  }
                }
              }
            }
          }
          tfoot{
            tr{
              th{
                background: transparent;
                border: none;
                &:nth-child(3){
                  background: #13887d;
                  color:#fff;
                  text-transform: uppercase;

                  @include border-radius(5px);
                }
              }
              td{
                background: #e3eae9;
                @include border-radius(5px);
                @include ProximaNovaAltBold();
                color:#13887d;
                border: none;
              }
            }
          }
        }
      }
      /* e: your order */

      /* checkout payment */
      .woocommerce-checkout .woocommerce-checkout-payment{
        background: transparent !important;
        @include border-radius(0 !important);
        padding-top: 24px !important;
        .payment_methods.methods{
          background: transparent;
          @include border-radius(0);
          padding: 0 !important;
          border:none !important;
          &>li{
            background: #e3eae9;
            @include border-radius(5px);
            @include AvenirNextLTProDemi();
            font-weight: bold !important;
            color:#a5a4a4;
            padding: 15px;
            margin-bottom: 10px !important;
            @include clearfix();
            position: relative;
            label{
              color:#a5a4a4;
              display: inline-block;
              @include clearfix();
              img{
                float: left;
                margin-left: 0 !important;
                margin-right: 7px !important;
                margin-top: 2px !important;
              }
            }
            a{
              color:#a5a4a4;
              position: absolute;
              right: 15px;
              top:50%;
              @include transform(translateY(-50%));
            }
            .payment_box{
              display: none !important;
            }
          }
        }
        .place-order{
          text-align: right !important;
          display: block !important;
           padding: 0 !important;
          border-top: none !important;
          input[type="submit"]{
            width: 50% !important;
            margin: 0 !important;
            height:68px;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 68px;
            background: #0f666b;
            cursor: pointer;
            color:#fff;
            text-transform: uppercase;
            text-align: center;
            @include box-sizing();
            font-size: 16px;
            @include ProximaNovaAltBold();
            float: none;
            min-height: 1px;
          }
        }
      }
      /* e: checkout payment */
    }
  }
}


.select2-dropdown-open .select2-choice{
  @include box-shadow(none);
}
.select2-results li{
  padding: 0;
}
.select2-results .select2-result-label{
  padding: 0 5px;
}