.custom-tour-form, .custom-tour{
  .container{
    background: #13887d;
    color:#fff;
    padding: 20px 13px 0;
    @include box-sizing();
    margin-bottom: 23px;
  }
  .section-title{
    text-align: center;
    color:#fff !important;
    margin: 0;
  }
  .frm_style_formidable-style.with_frm_style form{
    font-size: 12px;
    @include AvenirNextLTProDemi();
    .frm_description{
      color:#add;
      padding: 0 17px;
      line-height: 1.2;
      p{
        color:#add;
        margin-top: 4px;
        line-height: 1.2;
      }
    }
    fieldset{
      padding: 0;
      border: none;
      @include clearfix();
      line-height: normal;
      input[type="text"], input[type="email"], input[type="number"], select, textarea,
      input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, select:focus, textarea:focus{
        color:#fff !important;
        border:none !important;
        @include box-shadow(none !important);
        margin: 0;
        padding: 0 5px 0 16px !important;
        @include box-sizing();
        @include border-radius(5px !important);
        @include placeholder(#fff !important);
        font-size: 12px;
        @include AvenirNextLTProDemi();
        font-weight: 700;
        height: 36px;
        background: #10726e;
      }
      textarea, textarea:focus{
        height:90px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 12px !important;
        @include box-sizing();
      }
      select{
        option{
          color:#333;
        }
      }
      .selection-box{
        height:36px;
        &:after{
          background: url("../images/select-2.png") no-repeat top center/100% 100%;
          width: 36px;
          height:36px;
          @include border-radius(0);
          top:0;
        }
      }
      label.frm_primary_label{
        font-weight: normal;
        color:#fff;
        font-size: 12px;
      }
      .frm_checkbox, .frm_radio{
        label{
          position: relative;
          input{
            opacity: 0;
          }
          &:before{
            content: "";
            width: 13px;
            height: 13px;
            background: #13887d;
            @include border-radius(3px);
            position: absolute;
            left: 0;
            top:0;
            z-index: 2;
            line-height: 13px;
            text-align: center;
            font-weight: bold;
          }
          &.checked{
            &:before{
              content: "\2713";
            }
          }
        }
      }
      .form-field{
        position: relative;
      }
//      .frm_radio{
//        label{
//          &.checked{
//            &:before{
//              content: ".";
//            }
//          }
//        }
//      }
      .form-field{
        .frm_opt_container{
          @include clearfix();
          background: #10726e;
          padding: 7px 7px 0;
          @include border-radius(5px);
          .frm_checkbox{
            float: left;
            margin-bottom: 7px;
            padding: 0 2px;
            @include box-sizing();
            label{
              font-size: 12px;
              color:#fff;
              @include AvenirNextLTProDemi();
              position: relative;
              min-height: 13px;
              padding-left: 18px;
              line-height:normal;
              display: block;
              input{
                vertical-align: middle;
                position: absolute;
                top:0;
                left: 0;
              }
            }
          }
        }
        .frm_radio{
          float: left;
          width: 50%;
//          padding: 0 2px;
          @include box-sizing();
          background: #10726e;
          padding: 5px 0 5px 9px;
          @include border-radius(5px 0 0 5px);
          &:last-child{
            padding: 5px 9px 5px 0;
            @include border-radius(0 5px 5px 0);
          }
          label{
            font-weight: normal;
            color:#fff;
            font-size: 12px;
            @include AvenirNextLTProDemi();
            input{
              vertical-align: middle;
            }
          }
        }
      }
      .frm_first_half{
        float: left;
        width: 50%;
        padding: 0 10px;
        @include box-sizing();
        label.frm_primary_label{
//          display: none;
        }
        .number_travellers{
          float: left;
          &>span:first-child{
            padding: 0 7px;
            display: block;
            @include screen-theme(sm){
              margin-bottom: 5px;
            }
            @include screen-theme(xs){
              margin-bottom: 5px;
            }
            @include screen-theme(mbLan){
              margin-bottom: 5px;
            }
          }
          .form-field{
            .frm_error{
              right: auto;
              margin-top: -35px;
              left: 86px;
              @include screen-theme(md){
                margin-top: -40px;
              }
              @include screen-theme(sm){
                left: 74px;
                margin-top: -40px;
              }
              @include screen-theme(xs){
                left: 74px;
                margin-top: -40px;
              }
              @include screen-theme(mbLan){
                margin-top: -40px;
              }
              @include screen-theme(mbPo){
                left: 135px;
              }
            }
            &:last-child{
              .frm_error{
                display: none !important;
              }
            }
          }
          .frm_left_container{
            width: 50% !important;
            label.frm_primary_label{
              max-width: 53%;
              margin-top:6px;
            }
            input{
              max-width: 38%;
              padding-left: 0 !important;
              text-align: center;
            }
          }
        }
        .frm_half{
          float: left;
          width: 50%;
          .form-field{
            width: 100%;
            position: relative;
            &.form-date{
              .frm_error{
                left: 6%;
                right: auto;
                margin-top: -11px;
                @include screen-theme(xs){
                  left: -7%;
                }
                @include screen-theme(mbPo){
                  left: 82px;
                }
              }
            }
          }
          &.time_number_trip{
            .form-field{
              input{
                max-width: 100%;
              }
              &.form-date{
                label{
                  float: left;
                  width: 50%;
                  margin-right:0;
                  @include box-sizing();
                  padding-right: 10px;
                  margin-top: 5px;
                  max-width: 50%;
                }
                input{
                  float: right;
                  width: 50%;
                }
              }
            }
          }
        }
        .form-field{
          clear: inherit;
          float: left;
//          width: 50%;
          @include box-sizing();
          padding: 0 7px;
          margin-bottom: 15px;
        }
        .trip_use_option{
          @include clearfix();
          label.frm_primary_label{
            display: block;
          }
          .frm_error{
            right: auto;
            top:0;
            margin-top: 2px;
          }
          .form-field{
            float: none;
            width: 100%;
            margin-bottom: 10px;
            &:first-child{
              .frm_error{
//                left: 52%;
                left: 276px;
//                @include screen-theme(md){
//                  left: 56%;
//                }
//                @include screen-theme(sm){
//                  left: 65%;
//                }
              }
            }
            &:nth-child(2){
              .frm_error{
                left: 270px;
//                left: 50%;
//                @include screen-theme(md){
//                  left: 54.5%;
//                }
//                @include screen-theme(sm){
//                  left: 63%;
//                }
              }
            }
            &:nth-child(3){
              .frm_error{
//                left: 80%;
                left: 212px;
//                @include screen-theme(md){
//                  left: 84.5%;
//                }
//                @include screen-theme(sm){
//                  left: 50%;
//                }
              }
            }
            &:nth-child(4){
              .frm_error{
//                left: 70%;
                left: 187px;
//                @include screen-theme(md){
//                  left: 75%;
//                }
              }
            }
            &:nth-child(5){
              .frm_error{
//                left: 88%;
                left: 233px;
//                @include screen-theme(md){
//                  left: 93%;
//                }
              }
            }

            .frm_opt_container{
              .frm_checkbox{
                width: 16.666667%;
                @media screen and (min-width:1120px){
                  width: auto;
                  display: inline-block;
                  float: none;
                  margin-right: 4%;
                  &:last-child{
                    margin-right: 0;
                  }
                }
              }
            }
            &:nth-child(2){
              .frm_opt_container{
                .frm_checkbox{
                  width: 25%;
                  @media screen and (min-width:1120px){
                    float: left;
                    margin-right: 0;
                  }
                  &:nth-child(4n+5){
                    @media screen and (min-width: 1120px) {
                      clear: left;
                    }
                  }
                }
              }
            }
            &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
              float: left;
              width: 50%;
              .frm_opt_container{
                .frm_checkbox{
                  width: 33.333%;
                  @media screen and (min-width:1120px) {
                    width: auto;
                    display: inline-block;
                    float: none;
                    margin-right: 9%;
                    &:last-child{
                      margin-right: 0;
                    }
                  }
                  &:nth-child(4n+5){
                    clear: left;
                  }
                }
              }
            }
            &:nth-child(5){
              .frm_opt_container{
                .frm_checkbox{
                  width: 50%;
                  @media screen and (min-width:1120px) {
                    float: left;
                    margin-right: 0;
                  }

                }
              }
            }

          }

        }
      }
      .frm_last_half{
        float: left;
        width: 50%;
        padding: 0 10px;
        @include box-sizing();
        .form-field{
          margin-bottom: 15px;
          .frm_opt_container{
            .frm_checkbox{
              width: 33.333%;
            }
          }
          &.category-checkbox{
            margin-bottom: 0;
            label{
              text-transform: uppercase;
              &:before{
                background: #10726e;
              }
            }
            &>label:first-child{
              display: none;
            }
            .frm_opt_container{
              background: transparent;
              padding: 0;
              .frm_checkbox{
                margin-bottom: 2px;
              }
            }
          }
          &.custom-scroll{
            .frm_opt_container{
              max-height: 80px;
              padding-bottom: 7px;
              overflow-x: hidden;
              overflow-y: auto;
            }
            &+.frm_blank_field{
              .frm_error{
                right: auto;
                top:0;
                margin-top: 2px;
//                left: 44%;
                left: 234px;
//                @include screen-theme(md){
//                  left: 47%;
//                }
              }
            }
          }
          &.form-note{
            .frm_error{
              top:0;
              margin-top: 11px;
              right: auto;
              left: 162px;
            }
          }
        }
      }

      .frm_submit{
        background: rgba(#0d796f,0.5);
        padding: 0 23px 0 43px;
        @include clearfix();
        margin: 0 -13px;
        img{
          display: none !important;
        }
        input[type="submit"]{
          line-height: 67px;
          float: right;
          background: rgba(#09575a,0.5);
          width: 50% !important;
          text-transform: uppercase;
          padding: 0;
          color:#12887d;
          font-size: 24px;
          @include transition(all ease 0.5s);
          @include ProximaNovaAltBold();
          text-align: center;
          border:none;
          @include box-shadow(none !important);
          @include border-radius(0 !important);
          margin:0 !important;
          &:hover{
            color:#fff;
            background: rgba(#09575a,1);
          }
        }
      }

      .error-note{
        color:#fff;
        width: 50%;
        margin-bottom: -44px;
        @include box-sizing();
        padding: 5px 10px 0 0;
      }
      .frm_error{
        font-size: 0;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top:50%;
        margin-top: -8px;
        right: 17px;
        &:after{
          content: "";
          width: 16px;
          height:16px;
          background: url('../images/icons/error.png') no-repeat;
          display: inline-block;
        }
      }
      .frm_blank_field{
        input, select, textarea{
//          border:1px solid red !important;
        }
      }
    }

  }
  .mCSB_scrollTools .mCSB_draggerRail{
    background: #13887d;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: #07575b;
  }
}


.custom-tour{
  @include screen-theme(mbLan){
//    margin-bottom: 0;
  }
  .frm_form_fields {
    background: #13887d;
    color:#fff;
    padding: 20px 13px 0;
    @include box-sizing();
    margin-bottom: 23px;
    @include screen-theme(mbLan){
      padding-right: 3px;
      padding-left: 3px;
//      margin-bottom: 0;
    }
  }
}