.faqs-term-policy{
  .place-heading{
    text-align: left;
  }
  .page-with-right-sidebar{
    font-size: 14px;
    color: #acaaa9;
    @include AvenirNextLTPro();
    p{
      strong{
        @include AvenirNextLTProDemi();
        font-weight: bold;
        color: #0f666b;
      }
    }
  }
  .tour-enquiry{
    margin-top: 32px;
  }
  .secondary-sidebar.secondary-has-right-sidebar{
    @include screen-theme(mbLan){
      display: block !important;
      width: 100% !important;
      padding-left: 0 !important;
      margin-top: 32px;
      .tripcode{
        display: none;
      }
    }
  }
  .secondary-sidebar.secondary-has-right-sidebar{
    @include screen-theme(mbPo){
      display: none !important;
    }
  }
}