
#header-wrapper{
	background: #10726e;
	header#header{
		background: transparent !important;
		border:none !important;
		@include box-shadow(none !important);
		padding-top:28px;
		color:#fff;
		height:70px;
		.container{
			@include screen-size(lg){
				width: 1214px !important;
			}
		}
		#logo{
			width: 20%;
			@include screen-theme(sm){
				width: 14%;
    			margin-right: 50px;
    			margin-top:4px;
			}
		}
		#primary-menu{
			float: left;
			width: 46.3%;
			margin: 4px 16px 0 0;
			@include screen-theme(md){
				width:43%;
			}
			@include screen-theme(sm){
			    width: 42.3%;
			}
			#main-menu{
				width: 100%;
				position: static;
				&>ul.menu{
					float: left;
					@include screen-theme(xs){
						display: none !important;
						&.menu-toggle-open{
							display: block !important;
						}
					}
					&>li{
						line-height: normal;
						margin-left: 27px;
						@include screen-theme(md){
							margin-left: 0
						}
						@include screen-theme(sm){
							margin-left: 0;
						}
						&:first-child{
							margin-left: 0;
							&>a{
								padding-left: 0;
							}
						}
						&>a{
							color:#fff;
							@include AvenirNextLTPro();
							font-weight: 700;
							font-size: 16px;
							@include screen-theme(md){
								font-size: 14px;
							}
							@include screen-theme(sm){
								font-size: 12px;
							}
							&:hover{
								color:#fade03;
							}
						}
						&.current_page_item, &.current_page_item{
							&>a{
								color:#fade03;
								background-color: transparent;
							}
						}
					}
				}
				ul li.menu-item-simple-parent ul{
					top:100%;
					margin: 0;
				}
			}
		}
		@include screen-theme(xs){
			.fuc-header{
				float: right;
				margin-right:104px;
			}
		}
		@include screen-theme(mbLan){
			.fuc-header{
				float: right;
				margin-right:104px;
			}
		}
		.numberphone{
			float: left;
			margin-right: 20px;
			@include screen-theme(sm){
				margin-right: 15px;
			}
			ul{
				list-style: none;
				padding: 0 0 0 40px;
				margin: 0;
				background:url('../images/icons/telephone.png') no-repeat left center;
				background-size: 26px 28px;
				font-size: 14px;
				@include AvenirNextLTPro();
				font-weight: 700;
				text-transform: uppercase;
				line-height: normal;
				@include screen-theme(sm){
					padding-left: 34px;
					background-size: 22px 22px;
				}
				@include screen-theme(xs){
					padding-left: 34px;
					background-size: 22px 22px;
				}
				@include retina(){
					background-image: url('../images/icons/telephone-2x.png');
				}
				li{
					padding:0;
					@include screen-theme(md){
						font-size: 13px;
					}
					@include screen-theme(sm){
						font-size: 12px;
					}
					@include screen-theme(xs){
						font-size: 12px;
					}
					@include screen-theme(mbLan){
						font-size: 12px;
					}
				}
			}
		}
		.cart-contents{
			float: left;
			color:#fff;
			&:before{
				content: "";
				background-image: url('../images/icons/cart.png');
				background-repeat: no-repeat;
				background-size: 32px 28px;
				width: 32px;
				height: 28px;
				padding: 0;
				display: inline-block;
				margin: 0 -5px 0 0;
				@include screen-theme(sm){
					width: 24px;
					height:22px;
					background-size: 24px 22px;
				}
				@include screen-theme(xs){
					width: 24px;
					height:22px;
					background-size: 24px 22px;
				}

				@include retina(){
					background-image: url('../images/icons/cart-2x.png');
				}
			}
		}
		.user-action{
			float: right;
			color:#fff;
			position: relative;
			margin-left: 16px;
			@include screen-theme(sm){
				margin-left: 3px;
			}
			&:before{
				content: "";
				background-image: url('../images/icons/user.png');
				background-repeat: no-repeat;
				background-size: 29px 29px;
				width: 29px;
				height: 29px;
				padding: 0;
				display: inline-block;
				cursor: pointer;
				@include screen-theme(sm){
					width: 22px;
					height:22px;
					background-size: 22px 22px;
					margin-top: 7px;
				}
				@include screen-theme(xs){
					width: 22px;
					height:22px;
					background-size: 22px 22px;
					margin-top: 7px;
				}
				@include retina(){
					background-image: url('../images/icons/user-2x.png');
				}
			}
			&:hover{
				ul{
					display: block;
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				display: none;
				width: 220px;
			    background: #fff;
			    border-top: 3px solid #087dc2;
			    padding: 10px 0px 10px;
			    position: absolute;
			    top: 100%;
			    right: 0px;
			    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
			    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
			    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
			    z-index: 1;
			    li{
			    	display: block;
				    padding: 0px 15px;
				    position: relative;
				    line-height: normal;
				    a{
				    	color: #2c3e50;
					    position: relative;
					    padding: 10px 0px;
					    font-size: 14px;
					    border-bottom: 1px solid #f0f1ef;
					    display: block;
					    font-weight: 300;
					    -webkit-transition: all 300ms linear;
					    -moz-transition: all 300ms linear;
					    -o-transition: all 300ms linear;
					    -ms-transition: all 300ms linear;
					    transition: all 300ms linear;
					    span{
					    	margin-right: 5px;
					    }
					    &:hover{
					    	color:#5ca9d7;
					    }
				    }
				    &:last-child{
				    	a{
				    		border:none;
				    	}
				    }
			    }
			}
		}
	}
}

.home{
	#header-wrapper{
		background:transparent;
	}
	.banner{
		margin-top: -98px;
	}
}

#primary-menu{
	.dt-menu-toggle{
		@include screen-theme(xs){
			display: block;
			background: transparent;
			@include AvenirNextLTProDemi();
			font-size: 14px;
			width:84px;
			padding: 0;
			position: absolute;
			right:0;
			top:18px;
			.dt-menu-toggle-icon, .dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after{
				background: transparent;
				display: none;
			}
			.dt-menu-toggle-icon{
				display: inline-block;
				background: url('../images/icons/toggle-menu.png') no-repeat;
				background-size:24px 24px;
				@include border-radius(50%);
				@include retina(){
					background-image:url('../images/icons/toggle-menu-2x.png'); 
				}
				width: 24px;
				height: 24px;
				vertical-align: middle;
				margin-top:0;
			}
		}
	}
}
