/* table ngang */
@include screen-theme(sm){
	.gbtn{
		min-width: 144px;
		font-size: 14px;
		line-height: 38px;
	}
	.banner{
		h4{
			font-size: 30px;
			line-height: 30px;
		}
		h2{
			font-size: 136px;
			line-height: 136px;
		}
		p{
			font-size: 14px;
		}
      #slider-container{
        h3.ls-l{
          font-size: 42px;
        }
      }
	}
	.scroll-down{
		display: none;
	}

	.find-a-tour{
		.uform_title{
			font-size: 16px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.uwpqsf_class{
			select{
				font-size: 12px;
				height:42px;
			}
			.selection-box:after{
				height: 41px;
			}
			input[type="submit"]{
				height: 42px;
			}
		}
	}

	.popular-tours{

       .dt-sc-one-fourth{
//         width: 48.9%;
         width: 49.54%;
         margin-bottom: 10px;
         img{
           width: 100%;
         }
         &.nth-child-3{
           margin-left: 0;
         }
       }
		h2.section-title{
			font-size: 16px;
		}
		.text{
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 10px;
			bottom:-48px;
			h3{
				font-size: 11px;
				margin-bottom: 9px;
			}
			h2{
				font-size: 12px;
				padding-bottom: 15px;
			}
			a{
				margin-top: 0;
			}
		}
		.column{
			&:hover{
				.text{
					bottom:0;
				}
			}
		}
	}

	.tour-type{
		.text{
			bottom:auto;
			h2{
				font-size: 16px;
			}
		}
		.column{
          img{
            width: 100%;
          }
          &.dt-sc-one-half{
            width: 49.54%;
          }
          &.nth-child-3{
            margin-left: 0;
          }
          &.nth-child-4{
            clear: none;
            margin-left: 0.85%;
          }
          &.nth-child-5{
            clear: left;
            margin-left: 0;
          }
			&:hover{
				.text{
					h2{
						font-size: 20px;
					}
				}
			}
		}
	}

	.testimonials{
		h2.section-title{
			font-size: 16px;
		}
		blockquote{
			font-weight: normal;
			font-size: 16px;
		}
		.infor{
			font-size: 14px;
		}
	}

	.why-travel{
		font-size: 12px;
		h2.section-title{
			font-size: 16px;
		}
	}

	.fullwidth-section.tablist{
		.container{
			ul{
				li{
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
	.popular-tours.tab-content{
      .container{
        .column{
          &:nth-child(3), &:nth-child(4){
            display: none;
          }
        }
      }
		.column{
			&:hover{
				bottom:0;
			}
		}
		.text{
			bottom:-38px;
			 a{
				font-size: 12px;
			}
		}
	}

	#footer{
		.subcribe-form{
			h3.widget-title{
				font-size: 18px;
              margin-top: 23px;
			}
			.frm_forms .frm_form_fields fieldset .frm_form_field input{
				font-size: 18px !important;
				height: 70px !important;
			}
			.frm_forms .frm_form_fields fieldset .frm_submit button{
				font-size: 18px !important;
				height: 70px !important;
			}
		}
		.footer-widgets-wrapper{
			 .container{
			 	.column{
                  &:nth-child(2){
                    @include box-sizing();
                    padding-right: 38px;
                  }
			 		.widget{
			 		 	h3{
			 		 		font-size: 12px;
			 		 	}
			 		 	&:first-child{
			 		 		font-size: 12px;
			 		 	}
			 		}
			 	}
			 }
		}
	}

  /* about us */
  .about-us{
    h2{
      font-size: 18px;
    }

    ol{
      font-size: 30px;
      p{
        font-size: 14px;
      }
    }
  }

  .what-we-do{
    h2{
      font-size: 18px;
     }
  }
  /* e: about us */


  /* contact us */
  .contactus-tour{
    padding-top: 14px !important;
    padding-bottom: 0 !important;
    margin-bottom: 15px;
    .container{
      .column{
        width: 32.75% !important;
        &.dt-sc-one-half{
          img{
//            height: 219px;
            max-width: inherit;
            min-width: 100%;
          }
        }
      }
    }
    .text{
      position: static;
      background-color: transparent;
      padding-top: 0;
      a{
        margin-top: 0;
        i{
          width: 20px;
          height: 20px;
          background-size: 20px 20px;
        }
      }
      h2{
        font-size: 20px;
        margin-top: -19px;
      }
    }
  }
  /* e: contact us */


  /* login register */
  .modal{
    .modal-dialog{
      width: 875px;
    }
    .woocommerce{
      h2{
        font-size: 20px;
      }
      .form-row-wide, .form-row{
        padding: 0 8px;
        input, select{
          font-size: 12px;
          height: 34px;
        }
      }
      .form-row{
        margin-bottom: 25px;
        input[type=submit]{
          font-size: 20px;
          height: 34px;
        }
      }
      .selection-box{
        &:after{
          width: 34px;
          height: 34px;
          background-size:34px 34px;
        }
      }

      form.register{
        &>p.form-row:last-child{
          margin-top: -60px;
        }
        .regis-col2{
          &+ .form-row{
            bottom: 40px;
          }
        }
      }

    }
  }
  /* e: login register */

  /* checkout page */
  .woocommerce-checkout.woocommerce-page{
    .checkout-page{
      h2, #order_review_heading{
        margin-bottom:18px;
        font-size: 18px;
      }
      .woocommerce{
        .checkout.woocommerce-checkout{
          .col2-set{
            font-size: 12px;
            padding-left: 20px;
            padding-right: 20px;
            .form-row{

              .input-text, .select2-container, select{
                font-size: 12px;
                height: 32px;
              }
              .select2-container{
                .select2-choice{
                  line-height: 32px;
                }
              }
              .selection-box{
                height:32px;
                &:after{
                  width: 32px;
                  height:32px;
                }
              }
            }
            .col-1{
              .form-row{
                padding: 0 4px;
                .create-account{
                  bottom:18px;
                }
              }
            }
            .col-2{
              .form-row{
                padding: 0 4px;
                margin-top: -38px;
              }
            }
          }
        }
      }
    }
  }

  /* e: checkout page */

  /* profile */
  .woocommerce-MyAccount-content{
    margin-bottom: 6px;
    .profile-title{
      font-size: 18px;
    }
    .edit-account{
      .form-row{
        label{
          font-size: 12px;
        }
        .input-text, .select2-container, select{
          font-size: 12px;
          height: 32px;
        }
        .select2-container{
          .select2-choice{
            line-height: 32px;
          }
        }
        .selection-box{
          height:32px;
          &:after{
            width: 32px;
            height:32px;
          }
        }
      }
      &>p:last-child{
        height:50px;
        input{
          height: 50px;
        }
      }

    }
    .all-orders{
      padding-right: 0;
      @include clearfix();
      table.shop_table{
        font-size: 12px;
        margin: 0;
        tbody{
          tr{
            td{
              &:last-child{
                a{
                  line-height: 32px;
                  width: 128px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }

      .view-basket{
        position: static;
        float: right;
        a{
          line-height: 42px;
          font-size: 12px;
        }
      }
    }
  }


  /* e: profile */

  /* custom tour */
  .custom-tour-form, #custom-tour{
    .frm_style_formidable-style.with_frm_style{
      form{
        fieldset{
          .frm_first_half{
            .trip_use_option{
              .form-field{
                .frm_opt_container{
                  padding-bottom: 7px;
                  .frm_checkbox{
                    width: 33.33%;
                    margin: 0;
                    padding: 6px 0;
                  }
                }
                &:nth-child(2){
                  .frm_opt_container{
                    .frm_checkbox{
                      width: 50%;
                    }
                  }
                }
                &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
                  width: 100%;
                }
              }
              .frm_radio{
                width: 30%;
                label{
                  margin: 6px 0;
                }
              }
            }
          }

          .frm_last_half{
            .form-field{
              .frm_opt_container{
                padding-bottom: 7px;
                .frm_checkbox{
                  width: 50%;
                  margin: 0;
                  padding: 6px 0;
                }
              }
              &.custom-scroll{
                .frm_opt_container{
                  max-height: 150px;
                }
              }
            }
          }

          .frm_submit{
            background: transparent;
            padding-right: 0;
            input[type="submit"]{
              font-size: 18px;
              line-height: 52px;
              width: 30% !important;
            }
          }
        }
      }
    }
  }
  /* e: custom tour */

  /* cart */
  .custom-tour-form, #custom-tour{
    .frm_style_formidable-style.with_frm_style{
      form{
        fieldset{
          .frm_first_half{
            .number_travellers{
              .frm_left_container{
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
  .woocommerce{
    .all-orders-cart{
      table.shop_table{
        thead{
          th{
            font-size: 14px;
          }
        }
        tbody{
          tr{
            td{
              &.actions{
                input{
                  line-height: 52px;
                }
              }
            }
          }
        }
      }
    }

    .cart-collaterals{
      .cart_totals{
        table{
          tr{
            th, td{
              line-height: 52px;
            }
          }
        }
        .wc-proceed-to-checkout{
          a{
            line-height: 52px;
          }
        }
      }
    }
  }
  /* e: cart */

  /* blog */
  .blog-entry-inner{
    font-size: 14px;
    .entry-body{

    }
  }

  .related-post{
    .related-content{
      ul{
        li{
          .img{
            img{
              display: block;
            }
          }
          .text{
            h2.title{
              font-size: 14px;
              margin: 0;
              line-height: 18px;
              height: 36px;
              text-align: center;
            }
            .description{
              display: none;
            }
          }
        }
      }
    }
  }

  .our-recommendation.related-post{
    .related-content{
      ul{
        li{
          .text{
            h2.title{
              margin: 0 -15px 0;
              font-size: 14px;
              padding: 10px 47px;
            }
            .location{
              display: none;
            }
            .map{
              display: none;
            }
            a{
              margin-top:0;
            }
          }
        }
      }
    }
  }
  /* e: blog */

  /* product */
  .secondary-has-right-sidebar{
    .cart{
      font-size: 14px;
      .price{
        span{
          font-size: 18px;
        }
      }
    }
  }
  .header-selected-tour{
    .pull-left{
      width: 55%;
    }
  }
  .selected-tour{
    .tabs-selected-tour{
      .tab-contents{
        .tab-pane{
          font-size: 14px;
          .summary{
            padding-top: 20px;
            h2{
              font-size: 14px;
              margin-bottom: 20px;
            }
            .summary-left{
              width: 100%;
              margin-bottom: 30px;
            }
            .summary-right{
              width: 100%;
              ul{
                li{
                  float: left;
                  width: 33.33%;
                  @include box-sizing();
                  font-size: 12px;
                  line-height: normal;
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }


  .tour-enquiry{
    .frm_style_formidable-style.with_frm_style{
      fieldset{
        .enquiry-left, .emquiry-right{
          input, input:focus, select, select:focus, textarea, textarea:focus{
            font-size: 12px;
          }
        }
        .emquiry-right{
          .date{
            input{
              max-width: 58% !important;
            }
          }
          .adults{
            label{
              max-width: 100%;
            }
            input{
              max-width: 50%;
            }
          }
        }
      }
    }
  }

  .related-tours{
    .related-content{
      ul{
        li{
          .text{
            h2.title{
              font-size: 12px;
              line-height: 16px;
              height: 32px;
            }
            .infomation{
              font-size: 12px;
              min-height: 78px;
              div{
                padding-top: 0;
              }
              .price{
                font-size: 14px;
              }
            }
          }

        }
      }
    }
  }
  /* e: product */
}



@media screen and (max-width: 1199px){
  .testimonials .dt-sc-testimonial-carousel-wrapper .carousel-arrows .testimonial-prev{
    left: 0;
  }
  .testimonials .dt-sc-testimonial-carousel-wrapper .carousel-arrows .testimonial-next{
    right:0;
  }
}