@include screen-theme(mbLan){
	.container {
	    width: 630px !important;
	}
	.gbtn{
		min-width: 144px;
		font-size: 14px;
		line-height: 38px;
	}
	.banner{
      .tp-caption{
        h4{
          font-size: 17px !important;
          line-height: 17px !important;
        }
        h2{
          font-size: 70px !important;
          line-height: 70px !important;
        }
        p{
          font-size: 14px !important;
        }
      }
		h4{
          font-size: 17px;
          line-height: 17px;
//          text-align: center;
		}
		h2{
          font-size:70px;
          line-height: 70px;
		}
		p{
		  font-size: 14px;
          display: none;
		}
      .gbtn{
        display: block;
        width: 144px;
        margin: 20px auto auto;
      }
      #slider-container{
//        .ls-l{
//          width: 100% !important;
//          .title{
//            display: block;
//            h4{
//              text-align: center;
//            }
//          }
//        }
        .ls-bottom-nav-wrapper{
          left: 0;
          right: 0;
          bottom:40px;
        }
        .tp-bullets{
          left: 50% !important;
        }
        h3.ls-l{
          font-size: 30px;
        }
      }

	}
	.scroll-down{
		display: none;
	}
    .scrollDown-social .container .connect-us{
      display: none;
    }

	.find-a-tour{
		.uform_title{
			font-size: 14px;
			padding:12px 0 14px 14px;
		}
		.uwpqsf_class{
			select{
				font-size: 12px;
				height:42px;
              min-height: 1px;
			}
			.selection-box:after{
				height: 41px;
			}
			input[type="submit"]{
				height: 42px;
              min-height: 1px;
			}
		}
	}


	.popular-tours{
//      .dt-sc-one-fourth {
//        width: 23.4% !important;
//      }
//      .dt-sc-one-half {
//        width: 48.9% !important;
//      }
      .dt-sc-one-fourth{
//        width: 48.9%;
        width: 49.54%;
        margin-bottom: 10px;
        &.nth-child-3{
          margin-left: 0;
        }
      }
      .dt-sc-one-half{
//        width: 48.9%;
        width: 49.54%;
        clear: none;
      }
		h2.section-title{
			font-size: 18px;
		}
		.text{
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 10px;
			bottom:-48px;
			h3{
				font-size: 11px;
				margin-bottom: 9px;
			}
			h2{
				font-size: 12px;
				padding-bottom: 15px;
			}
			a{
				margin-top: 0;
			}
		}
		.column{
			&:hover{
				.text{
					bottom:0;
				}
			}
		}
	}

	.tour-type{
		.text{
			bottom:auto;
			h2{
				font-size: 16px;
			}
          a{
            min-width: 100%;
          }
		}
      .column{
        &.nth-child-3{
          margin-left: 0;
        }
        &.nth-child-4{
          clear: none;
          margin-left: 0.85%;
        }
        &.nth-child-5{
          clear: left;
          margin-left: 0;
        }
        &:hover{
          .text{
            h2{
              font-size: 20px;
            }
          }
        }
      }
	}

	.testimonials{
		h2.section-title{
			font-size: 16px;
		}
		blockquote{
			font-weight: normal;
			font-size: 16px;
          padding: 0 45px;
		}
		.infor{
			font-size: 14px;
		}
      .dt-sc-testimonial-carousel-wrapper{
        .carousel-arrows{
          .testimonial-prev{
            left: 0;
          }
          .testimonial-next{
            right: 0;
          }
        }
      }
	}

	.why-travel{
		font-size: 12px;
		h2.section-title{
			font-size: 16px;
		}
	}

	.fullwidth-section.tablist{
		.container{
			ul{
				li{
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
	.popular-tours.tab-content{
      .container{
        .column{
          &:first-child{
            margin-left: 0;
          }
          &:nth-child(3), &:nth-child(4){
            display: none;
          }
        }
      }
		.column{
			&:hover{
				bottom:0;
			}
		}
		.text{
			bottom:-38px;
			 a{
				font-size: 12px;
			}
		}
	}
	

	#footer{
		.subcribe-form{
			h3.widget-title{
				font-size: 16px;
				margin-top: 20px;
              width: 50%;
              text-align: center;
			}
          .frm_forms{
            width: 50%;
          }
          .frm_forms .frm_form_fields fieldset .frm_form_field{
            width: 100%;
          }
			.frm_forms .frm_form_fields fieldset .frm_form_field input{
				font-size: 16px !important;
				height: 60px !important;
			}
          .frm_forms .frm_form_fields fieldset .frm_submit{
            width: 100%;
            position: absolute;
            bottom:0;
            left: 0;
            right: 0;
          }
          .frm_forms .frm_form_fields fieldset .frm_submit button{
              font-size: 16px !important;
              height: 60px !important;
          }
          .widget{
            position: relative;
            padding-bottom: 60px;
            @include clearfix();
          }
		}
		.footer-widgets-wrapper{

			 .container{
			 	.column{
			 		.widget{
			 		 	h3{
			 		 		font-size: 12px;
			 		 	}
			 		 	&:first-child{
			 		 		font-size: 12px;
			 		 	}
			 		}
			 		.social-list{
			 			li{
			 				a{
			 					margin-left: 10px;
			 				}
			 			}
			 		}
                  &.dt-sc-one-third{
                    width: 50%;
                    &:last-child{
                      width: 100%;
                      .widget_social{
                        float: left;
                        width: 50%;
                        &+.widget{
                          width: auto;
                        }
                      }
                    }
                  }
			 	}

			 }
          &.type2{
            display: none;
          }
		}

      .mobile-footer-postlandscape{
        display: block;
        .container{
          .column{
            margin-left: 0;
            aside{
              &:first-child{
                @include clearfix();
                .textwidget{
                  div{
                    div{
                      float: left;
                      width: 50%;
                      @include box-sizing();
                      &:last-child{
                        h3{
                          padding-left: 38px;
                        }
                        p{
                          padding-left: 38px;
                          background: url(../images/icons/telephone-blue.png) no-repeat left 5px;
                        }
                      }
                    }
                  }
                }
              }
              &:nth-child(2){
                .menu, .send-email{
                  float: left;
                  width: 50%;
                  @include box-sizing();
                }
                .send-email{
                  background: url(../images/send-email.png) no-repeat left 5px;
                  padding-left: 38px;
                }
              }
              &:nth-child(3){
                p{
                  display: inline-block;
                  &:first-child{
                    margin-right: 20px;
                  }
                }
              }
            }
            .other-social, .widget-tripAdvisor{
              float: left;
              width: 50%;
              @include box-sizing();
            }
            .widget-tripAdvisor{
              padding-left: 38px !important;
              background: none !important;
            }
          }
        }
      }
      .copyright-content{
        padding-right: 200px;
      }
	}



	/* header */
	// .menu-open{
	// 	#main-menu{
	// 		position: static;
	// 	}
	// }
  .banner{
    margin-top: -30px;
  }
	.home{

		#header-wrapper{
			background-color: #10726e;
		}
		
	}
	#header-wrapper{
		height:54px;
      margin-bottom: 30px;
		header#header{
			padding-top: 0;
          height: 49px;
			.numberphone{
				position: absolute;
				top:10px;
				left:20px;
				&:before{
					content: "";
					min-height: 30px;
				    background: url(../images/icons/telephone-mb.png) no-repeat left center;
					background-size: 30px 30px;
					width: 30px;
					height:30px;
					display: block;
					cursor: pointer;
					@include retina(){
						border-image: url(../images/icons/telephone-mb-2x.png);
					}
				}
				ul{
					display: none;
//				    width: 260px;
//				    background: #fff;
//				    border-top: 3px solid #087dc2;
//				    padding: 10px 0px 10px;
//				    position: absolute;
//				    top: 100%;
//				    left: 0px;
//				    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
//				    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
//				    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
//				    z-index: 1;
					li{
						display: block;
					    padding: 0px 15px;
					    position: relative;
					    line-height: normal;
//					    color:#2c3e50;
                      color: #fff;
					}
				}
				&:hover{
					ul{
//						display: block;
					}
				}
			}
			#logo{
				img{
					height:27px !important;
					position: absolute;
                  width: auto !important;
					top:13px;
					left:50%;
					@include transform(translateX(-50%));
				}
			}
			.cart-contents{
				margin-top:12px;
			}
			.user-action:before{
				margin-top: 12px;
			}
		}
	}
	#primary-menu{
		.dt-menu-toggle{
				display: block;
				background: transparent;
				@include AvenirNextLTProDemi();
				font-size: 14px;
				width:84px;
				padding: 0;
				position: absolute;
				right:20px;
				top:11px;
				.dt-menu-toggle-icon, .dt-menu-toggle-icon:before, .dt-menu-toggle-icon:after{
					background: transparent;
					display: none;
				}
				.dt-menu-toggle-icon{
					display: inline-block;
					background: url('../images/icons/toggle-menu-mb.png') no-repeat;
					background-size:30px 30px;
					@include border-radius(50%);
					@include retina(){
						background-image:url('../images/icons/toggle-menu-mb-2x.png'); 
					}
					width: 30px;
					height: 30px;
					vertical-align: middle;
					margin-top:0;
				}
		}
}
	#header-wrapper{
		header#header{
			.container{
				@include clearfix();
			}
			#primary-menu{
				#main-menu{
					position: static;
					&> ul.menu{
						position: absolute;
					    top: 100%;
					    left: 0;
					    width: 100%;
					    background: #fff;
					    border-top: 3px solid #087dc2;
					    padding: 10px 0px 10px;
					    position: absolute;
					    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
					    -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
					    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
					    z-index: 1;
					    &>li{
					    	width: 100%;
					    	float: none;
					    	margin:0;
					    	display: block;
					    	&>a{
					    		display: block;
					    		padding: 8px 15px 9px;
					    		font-size: 16px;
					    		color:#685e58;
					    		&:hover{
					    			color:#087dc2;
					    		}
					    	}
					    	&:first-child{
					    		&>a{
					    			padding-left: 0;
					    		}
					    	}
					    	.sub-menu{
					    		position: static;
					    		width: 100%;
					    	}
					    	&:hover{
					    		.sub-menu{
					    			display: block !important;
					    		}
					    	}
					    }
					}
				}
			}
		}
	}
	/* e: header */

  /* about us */
  .about-us{
    h2{
      font-size: 18px;
    }
    ol{
      font-size: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      p{
        font-size: 14px;
      }
    }
    .container{
      .column{
        &:last-child{
          display: none;
        }
      }
    }
  }

  .what-we-do{
    h2{
      font-size: 18px;
    }
  }
  /* e: about us */

  /* contact us */
  .contactus-tour{
    padding-top: 14px !important;
    padding-bottom: 0 !important;
    margin-bottom: -8px;
    .column{
      margin-right: 0;
      margin-left: 0;
      &.dt-sc-one-fourth{
        width: 100% !important;
        padding-left: 0;
        @include box-sizing();
        &.first{
          padding-right: 0;
          padding-left: 0;
        }
      }
      &.dt-sc-one-half{
        width: 100% !important;
      }
      img{
//        width: 100%;
      }
    }

    .text{
      position: static;
      background-color: transparent;
      padding-top: 0;

      a{
        margin-top: 0;
        margin-left: -15px;
        margin-right: -15px;
        i{
          width: 16px;
          height: 16px;
          background-size: 16px 16px;
        }
      }
      h2{
        font-size: 16px;
        margin-top: -24px;
        padding: 0 15px;
      }
    }
  }

  .contactus-form{
    @include clearfix();
    .container{
      padding-right: 23px;
      form{
        fieldset{
          position: relative;
          padding-right: 0;
          @include clearfix();
          @include box-sizing();
          min-height: 1px;
          padding-bottom: 0;
          .frm_form_field{
            &.frm_full{
              position: static;
              width: 100% !important;
              @include box-sizing();
              padding: 0 7px 0 0;
            }
          }
          .frm_submit{
            position: static;
            margin: 0 -23px 0 -30px;
            input{
              float: none;
              display: block;
              width: 100% !important;
            }
          }
        }
      }
    }
  }

//  .mg-top-mb{
//    margin-top: 25px;
//  }
  /* e: contact us */


  /* login register */
  .modal{
    .modal-dialog{
      width: 630px;
      margin: 60px auto 0;
      .modal-content{
        padding: 0;
        background-color: #12887d;
        .modal-body{
          &>.logo-form{
            position: static;
            display: block;
            text-align: center;
            margin: 20px auto;
            max-width: 200px;
            img{
              height: 31px;
            }
          }
        }
      }
    }
    .woocommerce{
      .col2-set{
        padding-top: 67px;
        position: relative;
        &:before{
          background-color: #0d6f6b;
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: 52px;
          z-index: 1;
          top:0;
        }
        .col-1{
          padding: 0;
          margin-top: 0;
          float: none;
          border: none;
          width: 100%;
          h2{
            left: 0;
            background-color: #07575b;
            color:#13887d;
            &+p{
              text-align: center;
            }
          }
        }
        .col-2{
          width: 100%;
          float: none;
          padding: 0;
          background-color: transparent;
          h2{
            right: 0;
            padding: 0;
            &+p{
              display: none;
            }
          }
        }
        &.login-open{
          .col-1{
            h2{
              background-color: #07575b;
              color:#13887d;
            }
            form.login{
              display: block;
            }
          }
        }
        &.register-open{
          .col-1{
            h2{
              background-color: #0d6f6b;
              &+p{
                display: none;
              }
            }
            form.login{
              display: none;
            }
          }
          .col-2{
            h2{
              background-color: #07575b;
              color:#13887d;
              &+p{
                display: block;
                text-align: center;
              }
            }
            form.register{
              display: block;
            }
          }
        }
      }
      h2{
        font-size: 16px;
        cursor: pointer;
        position: absolute;
        top:0;
        width: 50%;
        text-align: center;
        z-index: 3;
        background-color: #0d6f6b;
        line-height: 52px;
      }
      .form-row-wide, .form-row{
        padding: 0 8px;
        input, select{
//          font-size: 14px;
//          height: 34px;
          background-color: #10726e !important;
        }
      }
      .form-row{
        margin-bottom: 15px;
        input[type=submit]{
          font-size: 24px;
          height: 68px;
        }
      }
//      .selection-box{
//        &:after{
//          width: 34px;
//          height: 34px;
//          background-size:34px 34px;
//        }
//      }

      // register
      form.register{
        margin: 0 22px;
        padding-bottom: 0;
        display: none;
        .register-slogan{
          text-align: center;
        }
        .regis-col2{
          &+ .form-row{
            position: static;
            width: auto;
            padding: 0;
            float: none;
            margin-right: -22px;
            margin-left: -22px;
          }
        }
        .form-row{
          input[type="submit"]{
            background-color: rgba(#09565a,0.5);
          }
          input[type="email"], input[type="password"]{
            background-color: #07575b !important;
          }
        }
        &>p.form-row:last-child{
          float: none;
          width: auto;
          padding: 0;
          margin: 0 -22px;
        }
      }

      // login
      form.login{
        margin-left: auto;
        margin-right: auto;
        .form-row-wide{
          max-width: 280px;
          padding: 0;
          margin-left: auto;
          margin-right: auto;
        }
        .form-row{
          padding: 0;
          .inline{
            text-align: center;
          }
        }
        .lost_password{
          text-align: center;
        }
      }
    }
  }
  /* e: login register */

  /* checkout page */
  .woocommerce-checkout.woocommerce-page{
    .checkout-page{
      h2, #order_review_heading{
        margin-bottom:18px;
        font-size: 18px;
      }
      .woocommerce{
        .checkout.woocommerce-checkout{
          .col2-set{
            padding-bottom: 70px;
            padding-left: 12px;
            padding-right: 12px;
            .col-1{
              .form-row{
                width: 50%;
                &.create-account{
                  bottom:30px;
                }
                &.notes{
                  width: 100%;
                }
              }
            }
            .col-2{
              .form-row{
                width: 100%;
                margin-top: 0;
              }
            }
          }
        }

        /* your order */
        .woocommerce-checkout-review-order{
          table.woocommerce-checkout-review-order-table{
            thead{
              display: none;
            }
            .mobile-title{
              display: block;
            }
            tbody{
              tr{
                td{
                  @include border-radius(0 !important);
                  &.product-name{
                    font-size: 16px;
                    &.hidden-mobile{
                      display: table-cell;
                      width: 20%;
                      font-size: 0;
                      img{
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            tfoot{
              tr{
                th{
                  &:first-child{
                    background: #13887d;
                    color:#fff;
                    text-transform: uppercase;
                    @include border-radius(5px);
                  }
                }
              }
            }
          }
        }
        /* e: your order */

        /* checkout payment */
        .woocommerce-checkout .woocommerce-checkout-payment{
          .place-order{
            input[type="submit"]{
              width: 100% !important;

            }
          }
        }
        /* e: checkout payment */
      }
    }
  }
  /* e: checkout page */

  /* profile */
  .woocommerce-MyAccount-content{
    .profile-title{
      font-size: 16px;
    }
    .edit-account{
      .form-row{
        width: 50%;
      }
      &>p:last-child{
        height:44px;
        input{
          height: 44px;
          font-size: 16px;
          width: 100% !important;
        }
      }
    }

    .all-orders{
      padding-right: 0;
      @include clearfix();
      h2{
        margin: 0 0 10px;
        font-size: 14px;
      }
      table.shop_table{
        font-size: 12px;
        margin: 0;
        tbody{
          tr{
            td{
              font-size: 12px;
              &.order-travellers{
//                @include border-radius(0 5px 5px 0);
              }
              &.space-td{
                height: 8px;
              }
            }
            &.visible-mobile{
              display: table-row;
              td{
                background: transparent;
                padding: 0;
                a{
                  line-height: 50px;
                  font-size: 18px;
                  width: 100%;
                  display: block;
                }
              }
            }
          }
        }
      }

      .view-basket{
        position: static;
        float: none;
        padding-left: 0;
        width: 100%;
        a{
          line-height: 42px;
          font-size: 12px;
          display: block;
          width: 100%;
        }
      }
    }
  }
  /* e: profile */


  /* custom tour */
  .custom-tour-form, .custom-tour{
    margin-top: 35px;
    .frm_style_formidable-style.with_frm_style{
      form{
        fieldset{
          .frm_first_half{
            width: 100%;
            .trip_use_option{
              .form-field{
                .frm_opt_container{
                  padding-bottom: 7px;
                  .frm_checkbox{
//                    width: 33.33%;
                    margin: 0;
                    padding: 6px 0;
                  }
                }
                &:nth-child(2){
                  .frm_opt_container{
                    .frm_checkbox{
                      width: 33.33%;
                    }
                  }
                }
                &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){
//                  width: 100%;
                }
              }
              .frm_radio{
                width: 50%;
                label{
                  margin: 6px 0;
                }
              }
            }
          }

          .frm_last_half{
            width: 100%;
            .form-field{
              .frm_opt_container{
                padding-bottom: 7px;
                .frm_checkbox{
                  width: 33.33%;
                  margin: 0;
                  padding: 6px 0;
                }
              }
            }
          }

          .frm_submit{
            background: transparent;
            padding-right: 0;
            padding-left: 0;
            input[type="submit"]{
              font-size: 24px;
              line-height: 65px;
              width: 100% !important;
            }
          }
        }
      }
    }
  }
  /* e: custom tour */


  /* cart */
  .custom-tour-form, .custom-tour{
    .frm_style_formidable-style.with_frm_style{
      form{
        fieldset{
           .error-note{
             margin-bottom: 0;
             width: 100%;
             padding: 5px 7px 10px;
           }
        }
      }
    }
  }
  .woocommerce{
    .all-orders-cart{
      table.shop_table{
        thead{
          display: none;
        }
        .mobile-title{
          display: block;
        }
        tbody{
          tr{
            td{
              @include border-radius(0 !important);
              &.product-name{
                font-size: 16px;
                &.hidden-mobile{
                  display: table-cell;
                  width: 20%;
                  font-size: 0;
                  img{
                    display: none;
                  }
                }
              }
              &.product-remove{
                text-align: right;
                &.hidden-mobile{
                  display: none !important;
                  a{
                    display: none;
                  }
                }
              }

              &.actions{
                input{
                  line-height: 52px;
                  width: 80% !important;
                }
              }
            }
          }
        }
        tfoot{
          tr{
            th{
              &:first-child{
                background: #13887d;
                color:#fff;
                text-transform: uppercase;
                @include border-radius(5px);
              }
            }
          }
        }
      }
    }

    .cart-collaterals{
      .cart_totals{
        width: 80%;
        .wc-proceed-to-checkout{
          a{
            line-height: 52px;
            font-size: 14px;
          }
        }
      }
    }
  }
  /* e: cart */


  /* blog */
  #main{
    .page-with-sidebar.page-with-right-sidebar{
      width: 100%;
      padding-right: 0;
    }
    .secondary-sidebar.secondary-has-right-sidebar{
      display: none;
    }
  }

  .entry-details .entry-metadata{
    display: block;
  }

  .blog-entry-inner{
    .entry-title{
      h2{
        font-size: 18px;
      }
    }
  }
  .related-post{
    .related-title{
      font-size: 18px;
    }
    .related-content{
      ul{
        margin: 0 -2px;
        li{
          width: 50%;
          padding: 0 2px;
          margin-bottom: 4px;
          .img{
            float: left;
            width: 45%;
            img{
              display: block;
            }
          }
          .text{
            float: left;
            width: 55%;
            @include box-sizing();
            h2.title{
              font-size: 12px;
              margin: 0;
              line-height: 16px;
              height: 32px;
              text-align: center;
              overflow: hidden;
            }
            a{
              font-size: 12px;
              margin: 12px -15px 0;
              min-width: 1px;
            }
            .description{
              display: none;
            }
          }
        }
      }
    }
  }

  .our-recommendation.related-post{
    .related-content{
      ul{
        li{
          .img{
            img{
              height: 135px;
            }
          }
          .text{
            h2.title{
              margin: 0;
              font-size: 12px;
              padding: 5px 15px 0;
              line-height: 16px;
              height: auto;
              max-height: 32px;
              overflow: hidden;
              background: transparent;
            }
            .location{
              font-size: 12px;
              margin-bottom: 5px;
            }
            a{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  /* e: blog */

  /* product */
  #main .selected-tour .secondary-sidebar.secondary-has-right-sidebar{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    .tripcode, .column.dt-sc-one-fourth{
      display: none;
    }
  }

  .selected-tour{
    margin-top: 32px;
    .package_place{
      margin-bottom: 15px;
    }
    h2.title{
      font-size: 18px;
    }
    .tabs-selected-tour{
      .product-tabs{
        margin-bottom: 22px;
        li{
          a{
            font-size: 12px;
            border-bottom-width: 6px;
            padding-bottom: 0;
          }
        }
      }
      .tab-contents .tab-pane{
        font-size: 14px;
        .no_of_days{
          margin-bottom: 32px;
        }

        .summary{
          padding-top: 10px;
          padding-bottom: 20px;
          h2{

          }
          .summary-left{
            width: 55%;
          }
          .summary-right{
            width: 45%;
          }
        }
        .sharedaddy.sd-sharing-enabled{
          display: block;
          margin-bottom: 0;
        }
      }
    }
  }

  .header-selected-tour{
    .pull-left{
      width: 100%;
    }
    .share{
      display: none;
    }
  }

  .gallery{
    .list-gallery, .slider-nav-thumbnails{
      width: 100%;
      padding-left: 0;
    }
    .list-gallery{
      margin-bottom: 6px;
    }
    .slider-nav-thumbnails{
      .slick-arrow{
        width: 24px;
        height:63px;
        left:auto;
        top:50%;
        @include transform(translateY(-50%));
        &.slick-prev{
          background: url('../images/icons/arrow-left.png') no-repeat 0 0;
          left: 18px;
          top:auto;
          &:hover{
            background-position: 0 -87px;
          }
        }
        &.slick-next{
          right:18px;
          background: url('../images/icons/arrow-right.png') no-repeat 0 -87px;
          bottom:auto;
          &:hover{
            background-position: 0 0;
          }
        }
      }
    }
  }

  .tour-enquiry{
    margin-bottom: 25px;
    .frm_style_formidable-style.with_frm_style{
      fieldset{
        .enquiry-left, .emquiry-right{
          width: 100%;
        }
        .frm_submit{
          input{
            margin-top: 0 !important;
            width: 100% !important;
          }
        }
      }

    }
  }

  .related-tours{
    .related-title{
      font-size: 18px;
      margin-bottom: 20px;
    }
    .related-content{
      ul{
        margin: 0 -2px;
        li{
          width: 50%;
          padding: 0 2px;
          margin-bottom: 4px;

          .sales{
            right: 55%;
            top:-200px;
          }
          &:hover{
            .sales{
              right: 55%;
              top:8px;
            }
          }
          .img{
            float: left;
            width: 50%;
            overflow: hidden;
//            height: 123px;
            img{
//              display: block;
//              max-width: inherit;
//              min-width: 100%;
//              height: 100%;
            }
          }
          .text{
            float: left;
            width: 50%;
            @include box-sizing();
            h2.title{
              font-size: 12px;
              margin: 0 -8px;
              line-height: 16px;
              height: 50px;
              text-align: center;
              overflow: hidden;
              padding: 5px;
            }
            a{
              font-size: 12px;
              margin: 0 -8px 0;
              min-width: 1px;
            }
            .infomation{
              font-size: 12px;
              min-height: 61px;
              .time{
                display: none;
              }
              div{
                padding: 0;
              }
              .price{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  /* e: product */

  #review-popup #CDSWIDWRL{
    padding: 30px 20px;
  }
}