/* table ngang */
@include screen-theme(sm){
	.gbtn{
		min-width: 144px;
		font-size: 14px;
		line-height: 38px;
	}
	.banner{
		h4{
			font-size: 30px;
			line-height: 30px;
		}
		h2{
			font-size: 136px;
			line-height: 136px;
		}
		p{
			font-size: 14px;
		}
      #slider-container{
        h3.ls-l{
          font-size: 42px;
        }
      }
	}
	.scroll-down{
		display: none;
	}

	.find-a-tour{
		.uform_title{
			font-size: 16px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.uwpqsf_class{
			select{
				font-size: 12px;
				height:42px;
			}
			.selection-box:after{
				height: 41px;
			}
			input[type="submit"]{
				height: 42px;
			}
		}
	}

	.popular-tours{
		h2.section-title{
			font-size: 16px;
		}
		.text{
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 10px;
			bottom:-48px;
			h3{
				font-size: 11px;
				margin-bottom: 9px;
			}
			h2{
				font-size: 12px;
				padding-bottom: 15px;
			}
			a{
				margin-top: 0;
			}
		}
		.column{
			&:hover{
				.text{
					bottom:0;
				}
			}
		}
	}

	.tour-type{
		.text{
			bottom:auto;
			h2{
				font-size: 16px;
			}
		}
		.column{
			&:hover{
				.text{
					h2{
						font-size: 20px;
					}
				}
			}
		}
	}

	.testimonials{
		h2.section-title{
			font-size: 16px;
		}
		blockquote{
			font-weight: normal;
			font-size: 16px;
		}
		.infor{
			font-size: 14px;
		}
	}

	.why-travel{
		font-size: 12px;
		h2.section-title{
			font-size: 16px;
		}
	}

	.fullwidth-section.tablist{
		.container{
			ul{
				li{
					a{
						font-size: 14px;
					}
				}
			}
		}
	}
	.popular-tours.tab-content{
		.column{
			&:hover{
				bottom:0;
			}
		}
		.text{
			bottom:-38px;
			 a{
				font-size: 12px;
			}
		}
	}

	#footer{
		.subcribe-form{
			h3.widget-title{
				font-size: 18px;
			}
			.frm_forms .frm_form_fields fieldset .frm_form_field input{
				font-size: 18px !important;
				height: 70px !important;
			}
			.frm_forms .frm_form_fields fieldset .frm_submit button{
				font-size: 18px !important;
				height: 70px !important;
			}
		}
		.footer-widgets-wrapper{
			 .container{
			 	.column{
			 		.widget{
			 		 	h3{
			 		 		font-size: 12px;
			 		 	}
			 		 	&:first-child{
			 		 		font-size: 12px;
			 		 	}
			 		}
			 	}
			 }
		}
	}

  /* about us */
  .about-us{
    h2{
      font-size: 18px;
    }

    ol{
      font-size: 30px;
      p{
        font-size: 14px;
      }
    }
  }

  .what-we-do{
    h2{
      font-size: 18px;
     }
  }
  /* e: about us */


  /* contact us */
  .contactus-tour{
    padding-top: 14px !important;
    padding-bottom: 0 !important;
    margin-bottom: -24px;
    .text{
      position: static;
      background-color: transparent;
      padding-top: 0;
      a{
        margin-top: 0;
        i{
          width: 20px;
          height: 20px;
          background-size: 20px 20px;
        }
      }
      h2{
        font-size: 20px;
        margin-top: -19px;
      }
    }
  }
  /* e: contact us */


  /* login register */
  .modal{
    .modal-dialog{
      width: 875px;
    }
    .woocommerce{
      h2{
        font-size: 20px;
      }
      .form-row-wide, .form-row{
        padding: 0 8px;
        input, select{
          font-size: 12px;
          height: 34px;
        }
      }
      .form-row{
        margin-bottom: 25px;
        input[type=submit]{
          font-size: 20px;
          height: 34px;
        }
      }
      .selection-box{
        &:after{
          width: 34px;
          height: 34px;
          background-size:34px 34px;
        }
      }

      form.register{
        &>p.form-row:last-child{
          margin-top: -60px;
        }
        .regis-col2{
          &+ .form-row{
            bottom: 40px;
          }
        }
      }

    }
  }
  /* e: login register */
}



@media screen and (max-width: 1199px){
  .testimonials .dt-sc-testimonial-carousel-wrapper .carousel-arrows .testimonial-prev{
    left: 0;
  }
  .testimonials .dt-sc-testimonial-carousel-wrapper .carousel-arrows .testimonial-next{
    right:0;
  }
}